{
  "action" : "actions",
  "list" : [
    {
      "action" : "particle",
      "specification" : "gtabbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "gtabbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "gtabbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "gtabbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "gtabbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "gtabbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "gtabbulletimpact3"
    }
  ]
}
